* {
  font-family: "Montserrat", "Helvetica Neue";
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

html {
  background-color: #e8e3e2;
}

body {
  margin: 0px;
  background-image: url(../assets/paper.webp);
  background-position: 0 0;
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-size: 320px 320px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #e8e3e2;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
    border-radius: 5px;
    background: rgba(17, 27, 39, 1);
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
  padding: 60px 20px 0 20px;
  animation: fadeIn 0.75s ease both;
  animation-delay: 0.2s;
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 348px;
  top: 20px;
  animation: peakDown ease 0.35s both;
  z-index: 5;
  border-radius: 25px;
  backdrop-filter: blur(4px);
  background: rgba(184, 230, 255, 0.75);
  border: 1.5px solid rgba(184, 230, 255, 0.65);
  box-shadow: 0px 0px 16px rgba(170, 170, 170, 0.5);
}

.navbar-menu {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 116px;
  height: 40px;
  border-radius: 20px;
  background: radial-gradient(
    rgba(20, 91, 205, 0.875) 1px,
    rgba(20, 91, 205, 0.95) 1px
  );
  background-size: 4px 4px;
  z-index: 1;
  transition: left 0.25s linear;
}

.btn {
  width: 116px;
  height: 40px;
  transition: all 0.15s ease;
  border: none;
  color: rgb(20, 91, 205);
  background-color: transparent;
  z-index: 3;
  font-size: 16px;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  user-select: none;
  text-decoration: none;

  &.active {
    color: white;
    font-weight: 500;
    transition: all 0.15s ease;
  }
}

.blur-image {
  filter: blur(20px);
}

.no-blur {
  filter: blur(0px);
}

// name card
.name-card {
  min-width: 180px;
  max-width: 180px;
  position: sticky;
  top: 125px;
  z-index: 2;

  .name-card-inner {
    margin: auto;
    width: 180px;
    text-align: center;

    .name-card-image {
      width: 170px;
      height: 170px;
      border-radius: 18px;
      background-color: rgba(230, 230, 230, 0.2);
      border: 8px solid rgba(230, 230, 230, 0.2);
      box-shadow: 0px 0px 12px rgba(120, 120, 120, 0.35);
      overflow: hidden;

      .display-image {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        transition: all 0.5s ease;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 16.5px;
      font-weight: 500;
      line-height: 30px;
      color: rgb(84, 84, 84);
    }

    span {
      font-size: 12.5px;
      font-weight: 500;
      color: rgb(84, 84, 84);
    }
  }
}

// project card

.project-card {
  width: 265px;
  height: 265px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 25px;
  position: relative;
  animation: peakDownItem 0.2s ease both;

  &:hover {
    .card-image {
      transform: scale(1.05);
      transition: all 0.2s ease;
    }
  }

  .project-card-top {
    width: 100%;
    height: 100%;

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transition: all 0.5s ease;
    }

    .project-details {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0px 15px 0px 15px;
      height: 100%;
      background: linear-gradient(
        to bottom,
        transparent 50%,
        rgb(152, 176, 208) 100%
      );
      width: calc(100% - 30px);
      .project-name {
        padding-top: 190px;
        font-weight: 600;
        margin-bottom: 10px;
        color: white;
      }

      .project-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          height: 26px;
          background: radial-gradient(
            rgba(0, 0, 0, 0.85) 1px,
            rgba(0, 0, 0, 0.95) 1px
          );
          background-size: 4px 4px;
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          font-weight: 500;
          border: 1px solid rgb(108, 108, 108);
          font-size: 12px;
          transition: all 0.2s ease;
          padding: 0 14px;

          &:hover {
            transform: scale(1.05);
            transition: all 0.2s ease;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    height: 325px;
    margin-bottom: 25px;

    .project-card-top {
      .project-details {
        .project-name {
          padding-top: 250px;
        }
      }
    }
  }

  &.solid {
    .project-card-top {
      background-color: rgb(112, 156, 214);

      .card-image {
        object-fit: contain;
      }
    }
  }
}

// about
.about-section {
  padding-left: 240px;
  position: relative;
  margin-top: -220px;
  animation: fadeIn 0.5s ease both;

  .skills-section {
    margin-top: 60px;
    padding: 10px 0px;
    overflow: hidden;
    width: 100%;
    position: relative;

    h1 {
      font-weight: 400;
      color: rgb(108, 108, 108);
      font-size: 14px;
    }

    .skills-list {
      display: flex;
      align-items: center;
      gap: 7.5px;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 32px;

      .skill-pill {
        overflow: hidden;
        display: flex;
        gap: 5px;
        align-items: center;
        background-color: rgba(184, 230, 255, 0.45);
        transition: all 0.125s ease;
        border: rgba(184, 230, 255, 0.65) 1px solid;
        box-shadow: 0px 0px 3px rgba(184, 230, 255, 0.25);
        border-radius: 6px;
        padding: 4px 7px;
        transition: all 0.125s ease;
        animation: peakDownItem 100ms ease both;

        span {
          font-size: 12px;
          font-weight: 500;
          color: rgb(60, 60, 60);
          user-select: none;
        }
      }
    }
  }

  .available-to-contact {
    margin-top: 50px;

    .contact-heading,
    .contact-cta {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-weight: 500;
        font-size: 14px;
        color: rgb(84, 84, 84);
      }
    }

    .contact-cta-wrapper {
      display: flex;
      gap: 18px;
      align-items: center;
      margin: 15px 0;

      .contact-cta {
        background-color: rgb(39, 110, 224);
        color: white;
        padding: 7px 14px;
        border: rgba(20, 91, 205, 0.25) 1px solid;
        border-radius: 6px;
        gap: 8px;
        cursor: pointer;
        transition: all 0.2s ease;
        span {
          font-weight: 500;
          font-size: 15px;
          color: white;
        }
        &:hover {
          background-color: rgba(20, 91, 205, 1);
          border: rgba(20, 91, 205, 1) 1px solid;
          color: white;
          transition: all 0.2s ease;

          span {
            color: white;
          }
        }
      }

      .resume-button {
        padding: 7px 14px;
        text-decoration: none;
        border: 1px solid rgba(20, 91, 205, 0.25);
        border-radius: 6px;
        background-color: rgba(20, 91, 205, 0.2);
        color: rgb(22, 99, 222);
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
          stroke: rgb(22, 99, 222);
        }
      }
    }
  }

  .timeline-wrapper {
    margin: 40px 0 25px 0;

    h1 {
      text-transform: uppercase;
    }

    .timeline-org {
      margin-top: 30px;

      h3 {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 5px;
      }

      .org-levels {
        margin: 10px 5px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-left: 3px solid transparent;

        &.border {
          border-left: 3px solid rgba(4, 128, 216, 0.145);
        }

        .org-level {
          display: flex;
          align-items: center;
          gap: 10px;

          svg {
            margin-left: -9.5px;
          }

          h4 {
            font-weight: 500;
            font-size: 14px;
            color: rgb(96, 96, 96);
          }
        }
      }
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  h2 {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    color: rgb(60, 60, 60);

    div {
      display: inline-block;
      position: relative;

      span {
        animation: changeword 4s linear infinite;
        position: absolute;
        top: -23.5px;
        left: 7.5px;
        opacity: 0;
        width: max-content;
        font-weight: 600;
        color: rgb(60, 60, 60);
      }

      span:nth-child(1) {
        animation-delay: 0s;
      }
      span:nth-child(2) {
        animation-delay: 2s;
      }
    }
  }

  .display-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    filter: grayscale(0.25);
  }
}

//work

.work-section {
  padding-left: 240px;
  margin-top: -220px;
  padding-bottom: 60px;

  .work-section-inner {
    animation: fadeIn 0.5s ease both;

    .project-section {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }
}

//contact section

.contact-section {
  margin: 50px 0;
  .contact-section-inner {
    animation: fadeIn 0.5s ease both;

    &.animate-contact {
      .socials {
        .linkedin {
          animation: animate-linkedin 0.25s ease both;
          animation-delay: 0.75s;
        }

        .github {
          animation: animate-github 0.25s ease both;
          animation-delay: 0.875s;
        }

        .twitter {
          animation: animate-twitter 0.25s ease both;
          animation-delay: 1s;
        }

        .instagram {
          animation: animate-instagram 0.25s ease both;
          animation-delay: 1.125s;
        }
      }

      .emails {
        a {
          animation: animate-email 0.25s ease both;
          animation-delay: 1.25s;
        }
      }
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(48, 48, 48);
    font-weight: 500;
    width: fit-content;
    transition: all 0.15s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    &:hover {
      color: white;
      transition: all 0.15s ease;

      svg {
        stroke: white;
      }
    }
  }

  .socials {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      margin-bottom: 15px;
    }

    .linkedin {
      &:hover {
        background-color: rgb(0, 119, 181);
      }
    }

    .github {
      &:hover {
        background-color: rgb(94, 94, 94);
      }
    }

    .twitter {
      &:hover {
        background-color: rgb(29, 161, 242);
      }
    }

    .instagram {
      &:hover {
        background-color: rgb(237, 76, 103);
      }
    }
  }

  .emails {
    margin-top: 50px;
    h2 {
      color: rgb(70, 70, 70);
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 14px;
    }

    h1 {
      margin-bottom: 25px;
    }

    a {
      color: rgb(20, 91, 205);
      transition: all 0.15s ease;
      font-size: 16px;

      &:hover {
        color: white;
        background-color: rgb(20, 91, 205);
      }
    }
  }
}

.blog-section {
  padding-left: 240px;
  padding-bottom: 60px;
  position: relative;
  margin-top: -220px;
  animation: fadeIn 0.5s ease both;

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  .blog-list {
    margin-top: 30px;
    a {
      text-decoration: none;
    }
    .blog-card {
      margin-bottom: 20px;
      border: 1px solid rgba(180, 180, 180, 0.15);
      box-shadow: 0px 0px 18px rgba(180, 180, 180, 0.15);
      background-color: white;
      padding: 16px 20px;
      border-radius: 8px;
      cursor: pointer;
      animation: peakDownItem 0.2s ease both;

      h3 {
        color: rgb(20, 91, 205);
        font-weight: 600;
        font-size: 18px;
      }

      .blog-meta {
        margin-top: 15px;
        gap: 10px;
        span {
          color: rgb(86, 109, 134);
          font-weight: 500;
          font-size: 12px;
          gap: 5px;
        }
      }
    }
  }
}

.blog-page-wrapper {
  margin-top: 60px;
  animation: peakDownItem 0.2s ease both;

  .back-to-blogs {
    position: sticky;
    top: 30px;
    z-index: 5;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(227, 227, 227);
    border-radius: 20px;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 5px;
    width: max-content;

    a {
      text-decoration: none;
      color: rgb(64, 114, 164);
      font-weight: 500;

      svg {
        padding-top: 1px;
      }
    }
  }

  .blogs-nav {
    margin-top: -50px;
    position: relative;
    float: right;

    .blogs-share {
      margin-right: 20px;
      color: dimgray;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: rgb(64, 114, 164);
        transition: all 0.2s ease;
      }
    }

    h6 {
      gap: 5px;
      color: dimgray;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .highlighted-code {
    font-weight: 600;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
    background: rgb(241, 241, 241);
    border: 1px dashed rgb(225, 225, 225);
    color: rgb(60, 60, 60);
  }

  h2 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-size: 32px;
  }

  h3 {
    margin: 15px 0;
    font-weight: 600;
  }

  h4 {
    font-weight: 500;
    margin: 20px 0 10px 0;
  }

  h5 {
    font-weight: 500;
    margin: 20px 0 10px 0;
  }

  p {
    margin: 0 0 12.5px 0;
    line-height: 24px;
    color: rgb(48, 48, 48);
    font-size: 15px;
  }

  code {
    font-size: 14px !important;
    font-family: monospace !important;
    * {
      font-family: monospace !important;
    }
  }

  .markdown > div > div {
    line-height: 24px;
    color: rgb(48, 48, 48);
    font-size: 15px;
    p {
      padding-top: 10px;
      padding-left: 20px;
      margin: 0px;
    }
  }

  @media screen and (max-width: 500px) {
    margin-top: 0px;
  }
}

.footer {
  max-width: 800px;
  padding: 40px 0;
  margin: auto;
  .footer-section {
    span {
      font-weight: 500;
      border-left: 1px solid rgb(60, 60, 60);
      margin-left: 7.5px;
      padding-left: 7.5px;
      font-size: 14px;
    }
  }
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 500px) {
  .footer {
    padding-bottom: 100px;
  }
  .main-wrapper {
    padding: 0px;
    padding-top: 0px;
  }

  .name-card {
    top: 0px;
    position: relative;
    margin: auto;
    margin: 20px;
    min-width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(180, 180, 180, 0.15);
    box-shadow: 0px 0px 12px rgba(180, 180, 180, 0.15);

    .name-card-inner {
      width: calc(100% - 30px);
      padding: 12.5px 15px;
      height: auto;
      display: flex;
      align-items: center;
      gap: 30px;
      text-align: left;
      border-radius: 8px;

      .name-card-image {
        width: 52px;
        height: 52px;
        border: 2px solid white;
        border-radius: 7px;
        background-color: white;
        box-shadow: 0px 0px 8px rgba(120, 120, 120, 0.35);

        .display-image {
          border-radius: 5px;
        }
      }

      span {
        display: none;
      }

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        font-size: 22px;
        color: rgb(20, 91, 205);
      }

      h2 {
        font-size: 16px;
        line-height: 28px;
        color: hwb(201 7% 61%);
      }
    }
  }

  .navbar {
    top: auto;
    bottom: 20px;
    animation: peakUp ease 0.35s both;
  }

  .about-section {
    padding: 20px 20px;
    margin-top: 0;
    .about-section-inner {
      margin: 40px 0 80px 0;

      h2 {
        margin-top: 10px;
        font-size: 18px;

        div {
          span {
            top: -17.5px;
            left: 5px;
          }
        }
      }
    }
  }

  .work-section {
    padding: 20px 20px;
    margin-top: 0;

    .work-section-inner .project-section {
      margin-top: 40px;
    }

    h1 {
      font-size: 14px;
    }
  }

  .contact-section {
    .emails {
      h2 {
        font-size: 15px;
        width: auto;
      }
      a {
        font-size: 20px;
      }
    }
  }

  .blog-section {
    padding: 20px 20px;
    margin-top: 0;

    .blog-list {
      margin-top: 40px;
      .blog-card {
        padding: 12px;
        h3 {
          font-size: 14px;
        }
      }
    }
  }

  .blog-page-wrapper {
    max-width: calc(100vw - 40px);

    .markdown {
      padding-top: 20px;
    }

    .blogs-nav {
      margin-top: -20px;
      justify-content: flex-end;
      float: none;
    }

    h2 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

.rws-backdrop {
  justify-content: center !important;

  .rws-container {
    border-radius: 0.5rem !important;
    overflow: hidden !important;
    max-width: 500px !important;

    header {
      font-size: 20px !important;
    }
  }
}

@keyframes peakDown {
  from {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes peakUp {
  from {
    transform: translateX(-50%) translateY(100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes peakDownItem {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeword {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  2% {
    opacity: 1;
    transform: translateY(0);
  }
  48% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes animate-linkedin {
  50% {
    background-color: rgb(0, 119, 181);
    color: white;
  }
}

@keyframes animate-twitter {
  50% {
    background-color: rgb(29, 161, 242);
    color: white;
  }
}

@keyframes animate-github {
  50% {
    background-color: rgb(94, 94, 94);
    color: white;
  }
}

@keyframes animate-instagram {
  50% {
    background-color: rgb(237, 76, 103);
    color: white;
  }
}

@keyframes animate-email {
  50% {
    background-color: rgb(20, 91, 205);
    color: white;
  }
}
