* {
  font-family: "Montserrat", "Helvetica Neue";
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

body {
  margin: 0px;
  background-color: #fafafa;
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(212, 212, 212);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(35, 35, 35);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

.main-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
  animation: fadeIn 0.75s ease both;
  animation-delay: 0.2s;
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 330px;
  top: 30px;
  animation: peakDown ease 0.35s both;
  z-index: 5;
  backdrop-filter: blur(5px);
  border-radius: 25px;
}

.navbar-menu {
  height: 40px;
  border: 1px solid #dedcd9;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  z-index: 1;
  transition: left 0.25s linear;
}

.btn {
  width: 110px;
  height: 40px;
  transition: all 0.15s ease;
  border: none;
  color: black;
  background-color: transparent;
  z-index: 3;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;

  &.active {
    color: white;
    transition: all 0.15s ease;
  }
}

// name card
.name-card {
  min-width: 300px;
  max-width: 300px;
  position: sticky;
  top: 150px;

  .name-card-inner {
    margin: auto;
    width: 230px;
    text-align: center;

    .display-image {
      width: 210px;
      height: 210px;
      border-radius: 20px;
      border: 10px solid rgb(231, 231, 231);
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
      margin-top: 10px;
    }

    h2 {
      font-size: 16px;
      font-weight: 500;
      line-height: 40px;
      color: rgb(108, 108, 108);
    }
  }
}

// project card

.project-card {
  width: 400px;
  height: 400px;
  overflow: hidden;
  transition: all 0.2s ease;
  border-radius: 12px;
  border: 1px solid #ccc;

  &:hover {
    transform: scale(1.025);
    transition: all 0.2s ease;
  }

  .project-card-top {
    width: 100%;
    height: 75%;

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }

    .project-details {
      padding: 0 25px;
      .project-name {
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .project-buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          width: 120px;
          height: 30px;
          background-color: black;
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          font-weight: 500;
          border: 1px solid rgb(108, 108, 108);
          font-size: 14px;
        }

        .visit {
          width: 70px;
        }
      }
    }
  }

  &.solid {
    .project-card-top {
      background-color: lightsteelblue;

      .card-image {
        object-fit: contain;
      }
    }
  }
}

// about
.about-section {
  padding: 0 20px;
  padding-left: 400px;
  position: relative;
  margin-top: -240px;
  animation: fadeIn 0.5s ease both;

  .timeline-wrapper {
    margin: 15px 0;

    .timeline-org {
      margin-top: 30px;

      h3 {
        font-size: 16px;
      }

      .org-levels {
        margin: 10px 7.5px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        border-left: 2px solid transparent;

        &.border {
          border-left: 2px solid rgb(108, 108, 108);
        }

        .org-level {
          display: flex;
          align-items: center;
          gap: 10px;

          svg {
            margin-left: -11px;
            background-color: white;
            border-radius: 50%;
          }

          h4 {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  h2 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(72, 72, 72);

    b {
      font-weight: 600;
      color: black;
    }
  }

  .display-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    filter: grayscale(0.25);
  }

  .waive-hand {
    display: inline-block;
    animation: waive 2.5s ease both;
    animation-iteration-count: infinite;
  }
}

//work

.work-section {
  padding: 0 20px;
  padding-left: 400px;
  margin-top: -240px;

  .work-section-inner {
    animation: fadeIn 0.5s ease both;

    .project-section {
      margin-top: 20px;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }
}

//contact section

.contact-section {
  padding: 0 20px;
  padding-left: 400px;
  margin-top: -240px;

  .contact-section-inner {
    animation: fadeIn 0.5s ease both;
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(48, 48, 48);
    font-weight: 500;
    width: fit-content;

    transition: all 0.15s ease;
    &:hover {
      color: white;
      transition: all 0.15s ease;

      svg {
        stroke: white;
      }
    }
  }

  .socials {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      margin-bottom: 25px;
    }

    .linkedin {
      &:hover {
        background-color: #0077b5;
      }
    }

    .github {
      &:hover {
        background-color: rgb(94, 94, 94);
      }
    }

    .twitter {
      &:hover {
        background-color: #1da1f2;
      }
    }

    .instagram {
      &:hover {
        background-color: #ed4c67;
      }
    }
  }

  .emails {
    margin-top: 50px;
    h2 {
      color: rgb(70, 70, 70);
      font-weight: 500;
      margin-bottom: 20px;
      width: 620px;
    }

    h1 {
      margin-bottom: 25px;
    }

    a {
      color: dodgerblue;
      transition: all 0.15s ease;

      &:hover {
        color: white;
        background-color: dodgerblue;
      }
    }
  }
}

//in progress section

.inprogress-section {
  padding-top: 50px;
  text-align: center;
  animation: fadeIn 0.5s ease both;

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .progress-image {
      width: 500px;
      height: 500px;
      object-fit: cover;
      margin: auto;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .name-card {
    position: relative;
    top: 0;
    padding: 20px 20px;
    margin: auto;
  }

  .navbar {
    top: auto;
    bottom: 30px;
    height: 40px;
    animation: peakUp ease 0.35s both;
    width: 330px;
  }

  .about-section {
    padding: 20px 20px;
    margin-top: 0;
    h1 {
      font-size: 14px;
    }

    h2 {
      font-size: 16px;
    }
  }

  .work-section {
    padding: 20px 20px;
    margin-top: 0;

    h1 {
      font-size: 14px;
    }
  }

  .contact-section {
    padding: 20px 20px;
    margin-top: 0;

    .emails {
      h2 {
        font-size: 15px;
        width: auto;
      }

      a {
        font-size: 20px;
      }
    }
  }

  .inprogress-section {
    .image-wrapper .progress-image {
      width: 280px;
      height: 280px;
    }
  }
}

@keyframes waive {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes peakDown {
  from {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes peakUp {
  from {
    transform: translateX(-50%) translateY(100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
