* {
  font-family: "Montserrat", "Helvetica Neue";
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

body {
  margin: 0px;
  background-color: #f9f9f9;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
    border-radius: 5px;
    background: rgba(17, 27, 39, 0.75);
  }
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
  animation: fadeIn 0.75s ease both;
  animation-delay: 0.2s;
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 330px;
  top: 30px;
  animation: peakDown ease 0.35s both;
  z-index: 5;
  backdrop-filter: blur(6px);
  border-radius: 25px;
}

.navbar-menu {
  height: 40px;
  border: 1.5px solid rgba(218, 229, 241, 0.15);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background: rgba(218, 229, 241, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  transition: left 0.25s linear;
}

.btn {
  width: 110px;
  height: 40px;
  transition: all 0.15s ease;
  border: none;
  color: black;
  background-color: transparent;
  z-index: 3;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;

  &.active {
    color: white;
    transition: all 0.15s ease;
  }
}

// name card
.name-card {
  min-width: 230px;
  max-width: 230px;
  position: sticky;
  top: 150px;
  z-index: 2;

  .name-card-inner {
    margin: auto;
    width: 230px;
    text-align: center;

    .name-card-image {
      width: 210px;
      height: 210px;
      border-radius: 20px;
      border: 10px solid rgb(215, 215, 215);
      background-color: rgb(215, 215, 215);

      .display-image {
        width: 210px;
        height: 210px;
        border-radius: 12px;
      }
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
      margin-top: 10px;
    }

    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 40px;
      color: rgb(108, 108, 108);
    }

    span {
      font-size: 14px;
      font-weight: 500;
      color: rgb(108, 108, 108);
    }
  }
}

// project card

.project-card {
  width: 245px;
  height: 245px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  position: relative;
  &:hover {
    .card-image {
      transform: scale(1.05);
      transition: all 0.2s ease;
    }
  }

  .project-card-top {
    width: 100%;
    height: 100%;

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transition: all 0.2s ease;
    }

    .project-details {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0px 15px 0px 15px;
      height: 100%;
      background: linear-gradient(
        180deg,
        transparent 20%,
        rgba(176, 196, 222, 1) 100%
      );
      width: calc(100% - 30px);
      .project-name {
        padding-top: 175px;
        font-weight: 600;
        margin-bottom: 10px;
        color: white;
      }

      .project-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          width: 80px;
          height: 24px;
          background-color: black;
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          font-weight: 500;
          border: 1px solid rgb(108, 108, 108);
          font-size: 11px;
          transition: all 0.2s ease;

          &:hover {
            transform: scale(1.05);
            transition: all 0.2s ease;
          }
        }

        .visit {
          width: 60px;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;

    .project-card-top {
      .project-details {
        .project-name {
          padding-top: 225px;
        }
      }
    }
  }

  &.solid {
    .project-card-top {
      background-color: rgb(124, 164, 215);

      .card-image {
        object-fit: contain;
      }
    }
  }
}

// about
.about-section {
  padding-left: 280px;
  position: relative;
  margin-top: -240px;
  animation: fadeIn 0.5s ease both;

  .timeline-wrapper {
    margin: 50px 0 25px 0;

    h1 {
      text-transform: uppercase;
    }

    .timeline-org {
      margin-top: 30px;

      h3 {
        font-size: 18px;
        font-weight: 600;
      }

      .org-levels {
        margin: 10px 7.5px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        border-left: 2px solid transparent;

        &.border {
          border-left: 2px solid #1da00025;
        }

        .org-level {
          display: flex;
          align-items: center;
          gap: 10px;

          svg {
            margin-left: -11px;
          }

          h4 {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  h2 {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(72, 72, 72);
    div {
      display: inline-block;
      position: relative;
      span {
        animation: changeword 4s linear infinite;
        display: inline-block;
        position: absolute;
        top: -17px;
        opacity: 0;
        width: max-content;
      }

      span:nth-child(1) {
        animation-delay: 0s;
      }
      span:nth-child(2) {
        animation-delay: 2s;
      }
    }
    span {
      font-weight: 600;
      color: black;
    }
  }

  .display-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    filter: grayscale(0.25);
  }
}

//work

.work-section {
  padding-left: 280px;
  margin-top: -240px;

  .work-section-inner {
    animation: fadeIn 0.5s ease both;

    .project-section {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }
}

//contact section

.contact-section {
  margin: 50px 0;
  .contact-section-inner {
    animation: fadeIn 0.5s ease both;
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(48, 48, 48);
    font-weight: 500;
    width: fit-content;

    transition: all 0.15s ease;
    &:hover {
      color: white;
      transition: all 0.15s ease;

      svg {
        stroke: white;
      }
    }
  }

  .socials {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      margin-bottom: 15px;
    }

    .linkedin {
      &:hover {
        background-color: #0077b5;
      }
    }

    .github {
      &:hover {
        background-color: rgb(94, 94, 94);
      }
    }

    .twitter {
      &:hover {
        background-color: #1da1f2;
      }
    }

    .instagram {
      &:hover {
        background-color: #ed4c67;
      }
    }
  }

  .emails {
    margin-top: 50px;
    h2 {
      color: rgb(70, 70, 70);
      font-weight: 500;
      margin-bottom: 20px;
    }

    h1 {
      margin-bottom: 25px;
    }

    a {
      color: #0077b5;
      transition: all 0.15s ease;
      font-size: 20px;

      &:hover {
        color: white;
        background-color: #0077b5;
      }
    }
  }
}

//in progress section

.inprogress-section {
  padding-top: 50px;
  text-align: center;
  animation: fadeIn 0.5s ease both;

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .progress-image {
      width: 500px;
      height: 500px;
      object-fit: cover;
      margin: auto;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
  }
}

.blog-section {
  padding-left: 280px;
  position: relative;
  margin-top: -240px;
  animation: fadeIn 0.5s ease both;
  min-height: 500px;

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  .blog-list {
    margin-top: 30px;
    a {
      text-decoration: none;
    }
    .blog-card {
      margin-bottom: 25px;
      border: 1px solid rgba(180, 180, 180, 0.25);
      box-shadow: 0px 0px 10px rgba(180, 180, 180, 0.5);
      background-color: white;
      padding: 10px 12.5px;
      border-radius: 8px;
      cursor: pointer;

      span {
        color: lightslategray;
        font-weight: 500;
        font-size: 16px;
      }

      .blog-meta {
        margin-top: 10px;
        span {
          color: rgb(102, 102, 102);
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }
}

.blog-page-wrapper {
  margin-top: 60px;
  .highlighted-code {
    background-color: #fdf6e3;
    padding: 1px 4px;
    border-radius: 4px;
    color: rgb(181, 137, 0);
  }

  h1 {
    margin: 20px 0;
  }
  h3 {
    margin: 15px 0;
    font-weight: 600;
  }

  h4 {
    font-weight: 500;
    margin: 20px 0 10px 0;
  }

  p {
    margin: 0 0 12.5px 0;
    line-height: 24px;
    color: rgb(96, 96, 96);
  }

  code {
    font-size: 14px !important;
    font-family: monospace !important;
    * {
      font-family: monospace !important;
    }
  }

  @media screen and (max-width: 500px) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .name-card {
    position: relative;
    top: 0;
    padding: 20px 20px;
    margin: auto;
  }

  .navbar {
    top: auto;
    bottom: 30px;
    height: 40px;
    animation: peakUp ease 0.35s both;
    width: 330px;
  }

  .about-section {
    padding: 20px 20px;
    margin-top: 0;
    h1 {
      font-size: 14px;
    }

    h2 {
      margin-top: 10px;
      font-size: 16px;

      div {
        span {
          top: -16px;
        }
      }
    }
  }

  .work-section {
    padding: 20px 20px;
    margin-top: 0;

    h1 {
      font-size: 14px;
    }
  }

  .contact-section {
    .emails {
      h2 {
        font-size: 15px;
        width: auto;
      }

      a {
        font-size: 20px;
      }
    }
  }

  .blog-section {
    padding: 20px 20px;
    margin-top: 0;
  }

  .inprogress-section {
    .image-wrapper .progress-image {
      width: 280px;
      height: 280px;
    }
  }
}

@keyframes peakDown {
  from {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes peakUp {
  from {
    transform: translateX(-50%) translateY(100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeword {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  2% {
    opacity: 1;
    transform: translateY(0);
  }

  48% {
    opacity: 1;
    transform: translateY(0);
  }

  52% {
    opacity: 0;
    transform: translateY(10px);
  }
}
