* {
  font-family: "Montserrat", "Helvetica Neue";
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

body {
  margin: 0px;
  background-color: #ececec;
}

.main-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px;
  animation: fadeIn 0.75s ease both;
  animation-delay: 0.2s;
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100px;
  width: 100%;
  animation: peakDown ease 0.35s both;
  z-index: 5;
  backdrop-filter: blur(5px);
}

.navbar-menu {
  height: 40px;
  border: 1px solid #dedcd9;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  z-index: 1;
  transition: left 0.25s linear;
}

.btn {
  width: 110px;
  height: 40px;
  transition: all 0.15s ease;
  border: none;
  color: black;
  background-color: transparent;
  z-index: 3;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;

  &.active {
    color: white;
    transition: all 0.15s ease;
  }
}

// name card
.name-card {
  min-width: 300px;
  max-width: 300px;
  font-family: "Courier New", Courier, monospace;
  h1 {
    font-size: 32px;
    font-weight: 700;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 10px;
    color: grey;
  }
}

// about
.about-section {
  padding: 20px 20px;
  display: flex;
  gap: 100px;

  .about-section-inner {
    animation: fadeIn 0.5s ease both;
  }

  h6 {
    font-weight: 400;
    color: grey;
    font-size: 14px;
    margin: 0;
  }

  h2 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(72, 72, 72);

    b {
      font-weight: 600;
      color: black;
    }
  }

  .waive-hand {
    display: inline-block;
    animation: waive 2.5s ease both;
    animation-iteration-count: infinite;
  }
}

//work

.work-section {
  padding: 20px 20px;
  display: flex;
  gap: 100px;

  .work-section-inner {
    animation: fadeIn 0.5s ease both;
  }

  h6 {
    font-weight: 400;
    color: grey;
    font-size: 14px;
    margin: 0;
  }
}

//contact section

.contact-section {
  padding: 20px 20px;
  display: flex;
  gap: 100px;

  .contact-section-inner {
    animation: fadeIn 0.5s ease both;
  }

  h6 {
    font-weight: 400;
    color: grey;
    font-size: 14px;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(48, 48, 48);
    font-weight: 500;
    width: fit-content;

    transition: all 0.15s ease;
    &:hover {
      color: white;
      transition: all 0.15s ease;

      svg {
        stroke: white;
      }
    }
  }

  .socials {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h6 {
      margin-bottom: 25px;
    }

    .linkedin {
      &:hover {
        background-color: #0077b5;
      }
    }

    .twitter {
      &:hover {
        background-color: #1da1f2;
      }
    }

    .instagram {
      &:hover {
        background-color: #ed4c67;
      }
    }
  }

  .emails {
    margin-top: 50px;
    h3 {
      color: rgb(70, 70, 70);
      font-weight: 500;
      margin-bottom: 20px;
      width: 500px;
    }

    h6 {
      margin-bottom: 25px;
    }

    a {
      color: lightcoral;
      transition: all 0.15s ease;

      &:hover {
        color: white;
        background-color: lightcoral;
      }
    }
  }
}

//in progress section

.inprogress-section {
  padding-top: 50px;
  text-align: center;
  animation: fadeIn 0.5s ease both;

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .progress-image {
      width: 500px;
      height: 500px;
      object-fit: cover;
      margin: auto;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .navbar {
    height: 40px;
    animation: peakUp ease 0.35s both;
  }

  .about-section {
    flex-direction: column;
    gap: 40px;

    h6 {
      font-size: 12px;
    }

    h2 {
      font-size: 20px;
    }
  }

  .work-section {
    flex-direction: column;
    gap: 40px;

    h6 {
      font-size: 12px;
    }
  }

  .contact-section {
    flex-direction: column;
    gap: 40px;

    h6 {
      font-size: 12px;
    }

    .emails {
      h3 {
        font-size: 15px;
        width: auto;
      }

      a {
        font-size: 20px;
      }
    }
  }

  .inprogress-section {
    .image-wrapper .progress-image {
      width: 280px;
      height: 280px;
    }
  }
}

@keyframes waive {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes peakDown {
  from {
    top: -100px;
    opacity: 0.5;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes peakUp {
  from {
    bottom: -100px;
    opacity: 0.5;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
