* {
  font-family: "Montserrat", "Helvetica Neue";
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

body {
  margin: 0px;
  background: radial-gradient(rgba(0, 0, 0, 0.035) 1px, rgb(255, 255, 255) 1px);
  background-size: 2.5px 2.5px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: radial-gradient(
      rgba(0, 0, 0, 0.05) 1px,
      rgb(255, 255, 255) 1px
    );
    background-size: 2.5px 2.5px;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
    border-radius: 5px;
    background: rgba(17, 27, 39, 0.85);
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
  padding: 60px 20px 0 20px;
  animation: fadeIn 0.75s ease both;
  animation-delay: 0.2s;
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 330px;
  top: 30px;
  animation: peakDown ease 0.35s both;
  z-index: 5;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  background: radial-gradient(
    rgba(0, 0, 0, 0.1) 1px,
    rgba(184, 230, 255, 0.5) 1px
  );
  background-size: 4px 4px;
}

.navbar-menu {
  height: 40px;
  border: 1.5px solid rgba(213, 235, 253, 0.25);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  background: radial-gradient(rgba(0, 0, 0, 0.85) 1px, rgba(0, 0, 0, 0.95) 1px);
  background-size: 4px 4px;
  z-index: 1;
  transition: left 0.25s linear;
}

.btn {
  width: 110px;
  height: 40px;
  transition: all 0.15s ease;
  border: none;
  color: black;
  background-color: transparent;
  z-index: 3;
  font-size: 15px;
  position: relative;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;

  &.active {
    color: white;
    font-weight: 600;
    transition: all 0.15s ease;
  }
}

// name card
.name-card {
  min-width: 210px;
  max-width: 210px;
  position: sticky;
  top: 140px;
  z-index: 2;
  animation: fadeIn 0.15s ease;

  .name-card-inner {
    margin: auto;
    width: 210px;
    text-align: center;

    .name-card-image {
      width: 200px;
      height: 200px;
      border-radius: 18px;
      background-color: rgb(230, 230, 230);
      border: 8px solid rgba(230, 230, 230, 0.25);
      box-shadow: 0px 0px 12px rgba(120, 120, 120, 0.35);

      .display-image {
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
    }

    h1 {
      font-size: 28px;
      font-weight: 700;
      margin-top: 10px;
    }

    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 40px;
      color: rgb(108, 108, 108);
    }

    span {
      font-size: 14px;
      font-weight: 500;
      color: rgb(108, 108, 108);
    }
  }
}

// project card

.project-card {
  width: 245px;
  height: 245px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  position: relative;
  &:hover {
    .card-image {
      transform: scale(1.05);
      transition: all 0.2s ease;
    }
  }

  .project-card-top {
    width: 100%;
    height: 100%;

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transition: all 0.2s ease;
    }

    .project-details {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0px 15px 0px 15px;
      height: 100%;
      background: linear-gradient(
        to bottom,
        transparent 50%,
        rgb(152, 176, 208) 100%
      );
      width: calc(100% - 30px);
      .project-name {
        padding-top: 175px;
        font-weight: 600;
        margin-bottom: 10px;
        color: white;
      }

      .project-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          height: 26px;
          background: radial-gradient(
            rgba(0, 0, 0, 0.85) 1px,
            rgba(0, 0, 0, 0.95) 1px
          );
          background-size: 4px 4px;
          color: white;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          font-weight: 500;
          border: 1px solid rgb(108, 108, 108);
          font-size: 12px;
          transition: all 0.2s ease;
          padding: 0 14px;

          &:hover {
            transform: scale(1.05);
            transition: all 0.2s ease;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    height: 325px;
    margin-bottom: 25px;

    .project-card-top {
      .project-details {
        .project-name {
          padding-top: 250px;
        }
      }
    }
  }

  &.solid {
    .project-card-top {
      background-color: rgb(112, 156, 214);

      .card-image {
        object-fit: contain;
      }
    }
  }
}

// about
.about-section {
  padding-left: 280px;
  position: relative;
  margin-top: -240px;
  animation: fadeIn 0.5s ease both;

  .timeline-wrapper {
    margin: 50px 0 25px 0;

    h1 {
      text-transform: uppercase;
    }

    .timeline-org {
      margin-top: 30px;

      h3 {
        font-size: 18px;
        font-weight: 600;
      }

      .org-levels {
        margin: 10px 10px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-left: 3px solid transparent;

        &.border {
          border-left: 3px solid #0480d825;
        }

        .org-level {
          display: flex;
          align-items: center;
          gap: 10px;

          svg {
            margin-left: -11.5px;
          }

          h4 {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  h2 {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    color: rgb(60, 60, 60);

    div {
      display: inline-block;
      position: relative;

      span {
        animation: changeword 4s linear infinite;
        position: absolute;
        top: -23.5px;
        opacity: 0;
        width: max-content;
        font-weight: 600;
        color: rgb(60, 60, 60);
      }

      span:nth-child(1) {
        animation-delay: 0s;
      }
      span:nth-child(2) {
        animation-delay: 2s;
      }
    }
  }

  .display-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    filter: grayscale(0.25);
  }
}

//work

.work-section {
  padding-left: 280px;
  margin-top: -240px;

  .work-section-inner {
    animation: fadeIn 0.5s ease both;

    .project-section {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }
}

//contact section

.contact-section {
  margin: 50px 0;
  .contact-section-inner {
    animation: fadeIn 0.5s ease both;
  }

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(48, 48, 48);
    font-weight: 500;
    width: fit-content;
    transition: all 0.15s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    &:hover {
      color: white;
      transition: all 0.15s ease;

      svg {
        stroke: white;
      }
    }
  }

  .socials {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      margin-bottom: 15px;
    }

    .linkedin {
      &:hover {
        background-color: #0077b5;
      }
    }

    .github {
      &:hover {
        background-color: rgb(94, 94, 94);
      }
    }

    .twitter {
      &:hover {
        background-color: #1da1f2;
      }
    }

    .instagram {
      &:hover {
        background-color: #ed4c67;
      }
    }
  }

  .emails {
    margin-top: 50px;
    h2 {
      color: rgb(70, 70, 70);
      font-weight: 500;
      margin-bottom: 20px;
    }

    h1 {
      margin-bottom: 25px;
    }

    a {
      color: #145bcd;
      transition: all 0.15s ease;
      font-size: 20px;

      &:hover {
        color: white;
        background-color: #145bcd;
      }
    }
  }
}

//in progress section

.inprogress-section {
  padding-top: 50px;
  text-align: center;
  animation: fadeIn 0.5s ease both;

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .progress-image {
      width: 500px;
      height: 500px;
      object-fit: cover;
      margin: auto;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
  }
}

.blog-section {
  padding-left: 280px;
  position: relative;
  margin-top: -240px;
  animation: fadeIn 0.5s ease both;

  h1 {
    font-weight: 400;
    color: rgb(108, 108, 108);
    font-size: 14px;
    margin: 0;
  }

  .blog-list {
    margin-top: 30px;
    a {
      text-decoration: none;
    }
    .blog-card {
      margin-bottom: 25px;
      border: 1px solid rgba(180, 180, 180, 0.15);
      box-shadow: 0px 0px 18px rgba(180, 180, 180, 0.15);
      background-color: white;
      padding: 16px 20px;
      border-radius: 8px;
      cursor: pointer;

      h3 {
        color: #145bcd;
        font-weight: 600;
        font-size: 18px;
      }

      .blog-meta {
        margin-top: 15px;
        gap: 10px;
        span {
          color: rgb(86, 109, 134);
          font-weight: 500;
          font-size: 12px;
          gap: 5px;
        }
      }
    }
  }
}

.blog-page-wrapper {
  margin-top: 60px;
  animation: peakUpBlog 0.2s ease both;

  .back-to-blogs {
    position: sticky;
    top: 35px;
    z-index: 5;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 5px;
    width: max-content;

    a {
      text-decoration: none;
      color: rgb(64, 114, 164);
      font-weight: 500;

      svg {
        padding-top: 1px;
      }
    }
  }

  .blogs-nav {
    margin-top: -45px;
    position: relative;
    float: right;

    h6 {
      gap: 5px;
      color: dimgray;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .highlighted-code {
    font-weight: 600;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
    background: #f1f1f1;
    border: 1px dashed #e1e1e1;
    color: rgb(60, 60, 60);
  }

  h2 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-size: 32px;
  }

  h3 {
    margin: 15px 0;
    font-weight: 600;
  }

  h4 {
    font-weight: 500;
    margin: 20px 0 10px 0;
  }

  h5 {
    font-weight: 500;
    margin: 20px 0 10px 0;
  }

  p {
    margin: 0 0 12.5px 0;
    line-height: 24px;
    color: rgb(48, 48, 48);
    font-size: 15px;
  }

  code {
    font-size: 14px !important;
    font-family: monospace !important;
    * {
      font-family: monospace !important;
    }
  }

  @media screen and (max-width: 500px) {
    margin-top: 0px;
  }
}

.footer {
  max-width: 800px;
  padding: 40px 0;
  margin: auto;
  .footer-section {
    h5 {
      font-weight: 500;
    }
  }
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 500px) {
  .footer {
    padding-bottom: 100px;
  }
  .main-wrapper {
    padding: 0px;
    padding-top: 0px;
  }

  .name-card {
    top: 0px;
    position: relative;
    margin: auto;
    margin: 20px;
    min-width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(180, 180, 180, 0.15);
    box-shadow: 0px 0px 12px rgba(180, 180, 180, 0.15);

    .name-card-inner {
      width: calc(100% - 30px);
      padding: 12.5px 15px;
      height: auto;
      display: flex;
      align-items: center;
      gap: 30px;
      text-align: left;
      border-radius: 8px;

      .name-card-image {
        width: 52px;
        height: 52px;
        border: 2px solid white;
        border-radius: 7px;
        background-color: white;
        box-shadow: 0px 0px 8px rgba(120, 120, 120, 0.35);

        .display-image {
          border-radius: 5px;
        }
      }

      span {
        display: none;
      }

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        font-size: 22px;
        color: #145bcd;
      }

      h2 {
        font-size: 16px;
        line-height: 28px;
        color: #124764;
      }
    }
  }

  .navbar {
    top: auto;
    bottom: 30px;
    height: 40px;
    animation: peakUp ease 0.35s both;
    width: 330px;
  }

  .about-section {
    padding: 20px 20px;
    margin-top: 0;
    h1 {
      font-size: 14px;
    }

    h2 {
      margin-top: 0px;
      font-size: 18px;

      div {
        span {
          top: -17.5px;
        }
      }
    }
  }

  .work-section {
    padding: 20px 20px;
    margin-top: 0;

    h1 {
      font-size: 14px;
    }
  }

  .contact-section {
    .emails {
      h2 {
        font-size: 15px;
        width: auto;
      }

      a {
        font-size: 20px;
      }
    }
  }

  .blog-section {
    padding: 20px 20px;
    margin-top: 0;

    .blog-list {
      margin-top: 20px;
      .blog-card {
        padding: 12px;
        h3 {
          font-size: 14px;
        }
      }
    }
  }

  .inprogress-section {
    .image-wrapper .progress-image {
      width: 280px;
      height: 280px;
    }
  }

  .blog-page-wrapper {
    max-width: calc(100vw - 40px);

    .markdown {
      padding-top: 20px;
    }

    .blogs-nav {
      margin-top: -20px;
      justify-content: flex-end;
      float: none;
    }

    h2 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

@keyframes peakDown {
  from {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes peakUp {
  from {
    transform: translateX(-50%) translateY(100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes peakUpBlog {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeword {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  2% {
    opacity: 1;
    transform: translateY(0);
  }

  48% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
